<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="height: 70px;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">MAGSoluções</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link active fw-semibold" aria-current="page" href="#">Início</a> -->
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link fw-semibold" href="#">Sobre</a> -->
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link fw-semibold" href="#">FAQ</a> -->
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link fw-semibold" href="#">Contato</a> -->
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2 border rounded-pill" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Pesquisar</button>
            </form>
            {% if user.is_authenticated %}
            <span class="p-2 d-flex align-items-center">
                <i class="fas fa-user-circle fa-2x me-2 text-primary"></i>
                <strong>{{ user.first_name }} {{ user.last_name }}</strong>
            </span>
            <button class="btn btn-outline-danger rounded-pill ms-3" data-bs-toggle="modal" href="#logoutModal">Logout</button>
            {% else %}
            <button class="btn btn-outline-primary rounded-pill mx-2" onclick="location.href='{% url 'login' %}'">Entrar</button>
            <button class="btn btn-outline-warning rounded-pill" onclick="location.href='{% url 'register' %}'">Cadastrar-se</button>
            {% endif %}
        </div>
    </div>
</nav>
