{% extends 'base_auth.html' %}
{% block title %}Login{% endblock %}
{% block content_auth %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Faça seu Login</h3>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="email" placeholder="Seu e-mail" required>
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" name="password" class="form-control" id="password" placeholder="Sua senha" required>
            <label for="password">Senha</label>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
        </div>

        <div class="text-center mt-4">
            <p>Ainda não tem uma conta? <a class="text-reset fw-bold" href="{% url 'register' %}">Cadastre-se</a></p>
            <p>Esqueceu sua senha? <a class="text-reset fw-bold" href="{% url 'password_reset' %}">Resetar senha</a></p>
        </div>
    </form>
</div>
{% endblock %}

